{% set title = 'Home' %}
{% extends '/base.html' %}

{% block content %}
  <div class="jumbotron text-center">
    <h1>Kno</h1>
    <p>
      A collaborative e-learning site to make management of tasks at school easier
      for both students and teachers.
    </p>
    {% if user == None %}
      <a href="#Login" data-toggle="modal" class="btn btn-primary btn-xlg">Login</a>
      <a href="#Register" data-toggle="modal" class="btn btn-default btn-xlg">Sign Up</a>
    {% endif %}
  </div>
  <!--<p>
      This site is designed to be a collaborative e-learning site where teachers can
      share tasks and courses that they have created, and is designed to make the jobs
      of both teachers and students easier by providing easy ways to do things such as
      hand in assignments and provide updates on those assignments.
  </p>-->
  {% if view.args_data %}
    <div class="openmodal" data-modal="DoResetPwd"></div>
    {{ as_modal('DoResetPwd', info, reset_code=view.args_data[0])|safe }}
  {% endif %}
{% endblock %}
