{% from 'macros/forms.html' import input, attr %}

<div class="modal fade" id="{{ form.__class__.cls_name() }}" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form role="form" class="form-horizontal" method="post" action="{{ url(form.urlname) }}">
        {% csrf_token %}
        <div class="modal-header"><h3>{{ form.name }}</h3></div>
        <div class="modal-body">
          {% for key, field in form.fields.items() %}
            {{ input(form, field, key) }}
          {% endfor %}
          <div class="formresults text-center help-block"></div>
          {% if form.text is not none %}
            <p class="text-center">{{ form.text|safe }}</p>
          {% endif %}

        </div>
        <div class="modal-footer">
          <a class="btn btn-default" data-dismiss="modal">Cancel</a>
          <input type="submit" class="btn btn-primary"
              value="{{ form.button if form.button else form.name }}">
        </div>
      </form>
    </div>
  </div>
</div>
