{% if redirect %}REDIRECT:{{ url(redirect) }}{% else %}FORMDATA:
    {% if form.non_field_errors() %}
        <div class="alert alert-danger" data-for="">
            {% for error in form.non_field_errors() %}
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <p class="text-center">{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% for field in form %}
        {% if field.errors %}
            <div class="alert alert-danger" data-for="{{ form.__class__.__name__ }}_{{ field.name }}">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                {% for error in field.errors %}
                    <p class="text-center">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}

    {% if form.is_valid() %}
        <div class="alert alert-success text" data-for="">
            <p class="text-center">{{ form.success_msg|safe }}</p>
        </div>
    {% endif %}
{% endif %}
