{% if redirect %}REDIRECT:{{ url(redirect) }}{% else %}FORMDATA:
    {% if form.non_field_errors() %}
        <div class="alert alert-danger" data-for="">
            {% for error in form.non_field_errors() %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% for field in form %}
        {% if field.errors %}
            <div class="alert alert-danger" data-for="{{ form.__class__.__name__ }}_{{ field.name }}">
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}

    {% if form.is_valid() %}
        <div class="alert alert-success" data-for="">{{ form.success_msg|safe }}</div>
    {% endif %}
{% endif %}
