{% macro displaycourses(user, courses, name) %}
  <p class="section">
    <p class="h3">{{ name }}</p>
    {% if courses %}
      <div class="row table-row">
        <div class="col-xs-{{ table_width(0) }} h4">Course Name</div>
        <div class="col-xs-{{ table_width(1) }} h4">Teacher</div>
      </div>
      {% for course in courses %}
        {{ displaycourse(user, course) }}
      {% endfor %}
    {% else %}
      <p>
        Looks like there isn't any {{ name.lower() }}. Maybe you should do something about that...
      </p>
    {% endif %}
  </p>
{% endmacro %}

{% macro displaycourse(user, c) %}
  <div class="row table-row">
    <div class="col-xs-{{ table_width(0) }}">{{ c.name }}</div>
    <div class="col-xs-{{ table_width(1) }}">{{ c.teacher }}</div>
    <div class="col-xs-{{ table_width(2) }}">
        <a href="{{ url('viewcourse', c.id) }}" class="btn btn-primary">Open Course</a>
    </div>
  </div>
{% endmacro %}
