{% from "macros/users.html" import displayusers %}
{% from "macros/task.html" import displaytasks %}
{% set title=course.name %}
{% extends 'base.html' %}

{% block content %}
  {% if user != course.teacher and user not in course.students.all() and course.code is none %}
    <form id="JoinPublicCourse" method="post" action="{{ url('joinpubliccourse') }}">
      {% csrf_token %}
      <input type="hidden" name="courseid" value="{{ course.id }}">
      <input type="submit" class="btn btn-primary" value="Join Course">
    </form>
  {% endif %}
  {% if user == course.teacher %}
    {{ as_form('CreateTask', info, course=course.id)|safe }}
    {% if course.code is not none %}
      Code is {{ course.code }}
    {% endif %}
  {% endif %}
  {% if scoreboard %}<a href="{{ url('scoreboard', course.id) }}">Scoreboard</a>{% endif %}
  {{ displaytasks(course.get_tasks(), 'Tasks') }}
  {{ 'public course' if course.code is none else 'private course' }}
  {{ displayusers([course.teacher], 'Teacher', False) }}
  {{ displayusers(course.students.all(), 'Students') }}
{% endblock %}
