{% set title=task.name %}
{% extends 'base.html' %}

{% block morehead %}
  <link rel="stylesheet" href="{{ static('css/syntax.css') }}">
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ static('js/syntax.js') }}"></script>
  <script type="text/javascript" src="{{ static('js/highlight.js') }}"></script>
  <!--<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">-->
</script>
{% endblock %}

{% block content %}

  {% if task.course.teacher == user %}
    <form role="form" method="post" action="/tasks/editdesc" hidden id="editdescform">
      {% csrf_token %}
      <input type="hidden" name="taskid" value="{{ task.id }}">
      <textarea rows="15" style="width:100%" id="editdesc" name="desc"></textarea>
      <p><input type="submit" class="btn btn-primary" value="Save"></p>
      <div class="formresults"></div>
    </form>
    <p><a onclick="openEdit(this)" class="btn btn-primary">Edit Description</a></p>
  {% endif %}

  <p class="desc">{{ task.desc }}</p>

  <p>
    Submission data goes here (only store 1 submission)
  </p>
{% endblock %}
