{% set title=task.name %}
{% extends 'base.html' %}

{% block morehead %}
  <link rel="stylesheet" href="{{ static('css/syntax.css') }}">
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ static('js/syntax.js') }}"></script>
  <script type="text/javascript" src="{{ static('js/highlight.js') }}"></script>
{% endblock %}

{% block content %}
  {% if task.course.teacher == user %}
    <form role="form" method="post" action="{{ url('edittaskdesc') }}" hidden id="editdescform">
      {% csrf_token %}
      <input type="hidden" name="taskid" value="{{ task.id }}">
      <textarea rows="15" style="width:100%" id="editdesc" name="desc"></textarea>
      <p><input type="submit" class="btn btn-primary" value="Save"></p>
      <div class="formresults"></div>
    </form>
    <p><a onclick="openEdit(this)" class="btn btn-primary">Edit Description</a></p>
  {% endif %}

  <p class="desc" id="description">{{ task.desc }}</p>

  {% if task.kind == 'code' and task.course.teacher == user %}
    <div id="addfilestorage">
      {{ as_form("AddIOFile", info, task=task.id)|safe }}
    </div>
    <h3>Test Cases</h3>

    <div class="row table-row">
      <div class="col-xs-2">Name</div>
      <div class="col-xs-1">Delete</div>
    </div>
    {% for testcase in task.codetask.get_io_files() %}
      <form role="form" method="post" action="{{ url('deleteiofile') }}" id="editdescform">
        <div class="row table-row">
          <div class="col-xs-2">{{ testcase }}</div>
          <div class="col-xs-1">
              {% csrf_token %}
              <input type="hidden" name="case" value="{{ testcase.id }}">
              <input type="submit" class="btn btn-danger" value="Delete">
          </div>
        </div>
      </form>
    {% endfor %}
  {% endif %}

  {% if task.kind != 'read' and user != task.course.teacher %}
    {{ as_form('Submit', info, taskid=task.id)|safe }}
  {% endif %}

  {% if task.kind == 'code' %}
    {% for submission in task.get_submissions(user).order_by('-order') %}
      <div class="row" style="margin-bottom:10px;">
        <h4>Submission #{{ submission.order }}</h4>
        <pre class="sh_python">{{ submission.data.read().decode('UTF-8') }}</pre>
        Results: {{ submission.get_comment_display() }}
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
