{% set title=task.name %}
{% extends 'base.html' %}

{% block morehead %}
  <link rel="stylesheet" href="{{ static('css/syntax.css') }}">
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ static('js/syntax.js') }}"></script>
  <script type="text/javascript" src="{{ static('js/highlight.js') }}"></script>
{% endblock %}

{% block content %}
  Weighting: {{ task.weight }}<br/>
  {% if task.course.teacher == user %}
    <form role="form" method="post" action="{{ url('edittaskdesc') }}" hidden id="editdescform">
      {% csrf_token %}
      <input type="hidden" name="taskid" value="{{ task.id }}">
      <textarea rows="15" style="width:100%" id="editdesc" name="desc"></textarea>
      <p><input type="submit" class="btn btn-primary" value="Save"></p>
      <div class="formresults"></div>
    </form>
    <p><a onclick="openEdit(this)" class="btn btn-primary">Edit Description</a></p>
  {% endif %}

  <p class="desc" id="description">{{ task.desc }}</p>

  {% if task.kind == 'code' and task.course.teacher == user %}
    <div id="addfilestorage">
      {{ as_form("AddIOFile", info, task=task.id)|safe }}
    </div>
    <h3>Test Cases</h3>

    <div class="row table-row">
      <div class="col-xs-2">Name</div>
      <div class="col-xs-1">Delete</div>
    </div>
    {% for testcase in task.codetask.get_io_files() %}
      <form role="form" method="post" action="{{ url('deleteiofile') }}" id="editdescform">
        <div class="row table-row">
          <div class="col-xs-2">{{ testcase }}</div>
          <div class="col-xs-1">
              {% csrf_token %}
              <input type="hidden" name="case" value="{{ testcase.id }}">
              <input type="submit" class="btn btn-danger" value="Delete">
          </div>
        </div>
      </form>
    {% endfor %}
  {% elif task.kind == 'assign' and user == task.course.teacher %}
    <table>
      <tr><th>Student</th><th>Marks</th><th>Total</th><th>Download</th></tr>
      {% for student in task.course.students.all() %}
        <tr>
          <td>{{ student.get_full_name() }}</td>
          <td><input value="{{ 0 }}" class="form-control" type="number" min="0" max="
          {{ task.marks }}" size="2"></td>
          <td>{{ task.marks }}</td>
          <td>Download link here</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  {% if task.course.students.filter(id=user.id).first() is not none %}
    {% if task.kind != 'read' and user != task.course.teacher %}
      {{ as_form('Submit', info, taskid=task.id)|safe }}
    {% endif %}

    {% if task.kind == 'code' %}
      {% for submission in task.get_submissions(user).order_by('-order') %}
        <div class="row" style="margin-bottom:10px;">
          <h4>Submission #{{ submission.order }}</h4>
          <pre class="sh_python">{{ submission.data.read().decode('UTF-8') }}</pre>
          {{ submission.marked.desc }} - {{ submission.marked.markedcriteria.comment }} ({{ submission.marked.markedcriteria.marks }} / {{ submission.marked.max_marks }})
          {% for node in submission.marked.get_children() recursive %}
            <li>{{ node.desc }} - {{ node.markedcriteria.comment }} ({{ node.markedcriteria.marks }} / {{ node.max_marks }})</li>
            {% if loop.get_children %}
              <ul>{{ loop(node.get_children()) }}</ul>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    {% endif %}
  {% endif %}
{% endblock %}
