{% from '/macros/course.html' import displaycourses %}
{% set title='Profile' %}
{% extends 'base.html' %}

{% block content %}
  <div class="row">
    <div class="col-sm-3">
      {{ person.gravatar(158)|safe }}
    </div>
    <div class="col-sm-6">
      <p class="h1">{{ person.get_full_name() }}</p>
    </div>
  </div>
  <div class="row">
  {{ displaycourses(person, person.get_courses_taught(), 'Courses ' + person.fname + ' Teaches') }}
  {{ displaycourses(person, person.courses.all(), 'Courses ' + person.fname + ' Is Enrolled In') }}
  </div>
{% endblock %}
